.sansu-divider {
  border: none;
  background-color: currentColor;
  flex-shrink: 0;
}

.sansu-divider--horizontal {
  width: 100%;
  height: 1px;
}

.sansu-divider--vertical {
  width: 1px;
  align-self: stretch;
}